<div *ngIf="artist">
  <div>
    <span id="header">
      <h1 id="artistTitle">{{artist.name}}</h1>
      <mat-icon [routerLink]="['']" id="homeIcon">home</mat-icon>
    </span>
    <br><br>
    <p class="mat-body-1">{{artist.bio.content}}</p>
  </div>

  <hr>
  
  <h1 *ngIf="artist" id="topSongsTitle">Best tracks of {{artist.name}}</h1>
  <mat-grid-list cols="5" >
    <mat-grid-tile *ngFor="let track of tracks" >
      <app-song [trackId]="track.mbid" [routerLink]="['/topSong/artist/', track.mbid]" id="songComponent"></app-song>
    </mat-grid-tile>
  </mat-grid-list>
</div>