#songComponent{
    cursor: pointer;
}

#header{
    display: inline;
}

#homeIcon{
    cursor: pointer;
    float: right;
    display: block;
}

#songComponent{
    border: 1px solid black;
    border-radius: 20px;
    background-image: linear-gradient(#90a4ae, #cfd8dc);
    text-align: center;
}
