<div *ngIf="trackInfo">
  <h1>{{trackInfo.track.name}}</h1>
  <h2>Album: {{trackInfo.track.album.title}}</h2>
  <div *ngIf="!selectedId" [routerLink]="['/artist', trackInfo.track.artist.mbid]" id="artistHeader">
    <h2>Artist: {{trackInfo.track.artist.name}}</h2>
  </div>
  <p>Duration: {{trackInfo.track.duration}}</p>
  <p>Listeners: {{trackInfo.track.listeners}}</p>
  <br />
</div>
<div *ngIf="!selectedId">
  <mat-icon [routerLink]="['']" id="homeIcon">home</mat-icon>
</div>