<div class="menu">
  <h1 class="homeTitle">Last fm</h1>
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>launch</mat-icon>
        <span><a href="https://www.last.fm/api">Last fm API</a></span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>email</mat-icon>
        <span>Write us</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>

<br><br>

<div>
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Type the artist name" [(ngModel)]="searchSinger">
  </mat-form-field>
  <button mat-raised-button type="button" color='accent' (click)=search()>Search</button>
</div>

<br>

<div>
  <table mat-table [dataSource]="results" class="mat-elevation-z8">
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Artist </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/artist', element.mbid]" id="artistName">
          <u *ngIf="element.mbid" >{{element.name}}</u>
          <ng-container *ngIf="!element.mbid" >{{element.name}}</ng-container>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="listeners">
        <th mat-header-cell *matHeaderCellDef> Listeners </th>
        <td mat-cell *matCellDef="let element"> {{element.listeners}} </td>
      </ng-container>
    
      <ng-container matColumnDef="mbid">
        <th mat-header-cell *matHeaderCellDef> MBID </th>
        <td mat-cell *matCellDef="let element" ><p *ngIf="element.mbid">{{element.mbid}}</p></td>
      </ng-container>
    
      <ng-container matColumnDef="bestTrack">
        <th mat-header-cell *matHeaderCellDef> Best track </th>
        <td mat-cell *matCellDef="let element" (click) = "getTopTrackId(element.mbid)" id="bestTrack">
          <u *ngIf= "element.mbid">Top Song</u> 
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>



 
