/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 5%; font-family: Roboto, "Helvetica Neue", sans-serif; }
.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
  }

